################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/DevBoost.PadraoDeProjeto
*.suo
/src/DevBoost.PadraoDeProjeto/DevBoost.PadraoDeProjeto.API/bin/Debug/netcoreapp3.1
/src/DevBoost.PadraoDeProjeto/DevBoost.PadraoDeProjeto.API/obj
